.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.title {
  margin-top: 0;
  margin-bottom: 4px;
}

.dataGrid {
  flex-grow: 1;
}

.error {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.editButton {
  display: flex;
  align-items: center;
}

.editButton:hover {
  cursor: pointer;
}

body .addButton {
  position: fixed;
  bottom: 18px;
  left: 16px;
}
